<template>
  <div class="sticky top-0 z-10 bg-base py-3 flex justify-center">
    <div class="max_width">
      <div class="absolute left-2 vertical_center flex">
        <slot name="left"></slot>
      </div>
      <div class="text-xl text-center font-bold mx-4">
        <slot> 標題 </slot>
      </div>
      <div class="absolute right-2 vertical_center flex">
        <slot name="right"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>