<template>
  <div class="w-full h-full flex flex-col">
    <!-- main -->
    <slot></slot>

    <!-- menu -->
    <div class="sticky bottom-0 w-full border-t border-gray-400">
      <div
        class="
          horizontal_center
          -top-1/2
          w-16
          h-16
          rounded-full
          shadow-lg
          overflow-hidden
        "
      >
        <slot name="main_btn">
          <router-link
            class="w-full h-full bg-primary-light text-base flex"
            :to="{ name: 'Home' }"
          >
            <HomeIcon class="w-10 m-auto"></HomeIcon>
          </router-link>
        </slot>
      </div>
      <div class="footer_btn flex justify-around max_width -z-1">
        <router-link :to="{ name: 'Invoice' }">
          <div class="relative">
            <NewspaperIcon class="w-8 m-2"> </NewspaperIcon>
            <div
              v-show="nInvoice"
              class="
                absolute
                top-1
                right-1
                text-white
                bg-special_red
                rounded-full
                text-center text-xs
                w-5.5
                h-5.5
                flex
                items-center
                justify-center
              "
            >
              {{ nInvoice }}
            </div>
          </div>
        </router-link>
        <div></div>
        <router-link :to="{ name: 'Settings' }">
          <AdjustmentsIcon class="w-8 m-2"></AdjustmentsIcon>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import {
  AdjustmentsIcon,
  // ChartPieIcon,
  NewspaperIcon,
  MenuIcon,
  HomeIcon,
} from '@heroicons/vue/outline'
import { computed } from '@vue/reactivity'
import { inject } from '@vue/runtime-core'

export default {
  components: {
    AdjustmentsIcon,
    NewspaperIcon,
    MenuIcon,
    HomeIcon,
  },

  setup(props, { emit }) {
    const InvoiceStore = inject('InvoiceStore')
    const nInvoice = computed(() => InvoiceStore.state.invoiceList?.length)
    return {
      nInvoice,
    }
  },
}
</script>

<style lang="postcss" scoped>
.footer_btn {
  @apply text-gray-400;
  .router-link-exact-active {
    @apply text-primary-heavy;
  }
}
</style>
