<template>
  <Layout>
    <Header>
      <!-- 顯示選中的日期 -->
      <div
        class="text-accent hover:text-accent-heavy cursor-pointer"
        @click="slideToToday"
      >
        {{ selectedDate.format('YYYY/MM/DD') }}
      </div>
    </Header>

    <!-- date picker -->
    <DateWeeklyPicker
      ref="datePickerRef"
      v-model="selectedDate"
      class="max_width"
    ></DateWeeklyPicker>

    <!-- 帳目列表 -->
    <div
      ref="listRef"
      class="bg-base flex-1 pb-6 overflow-scroll scrollbar-hidden max_width"
    >
      <!-- 列表 -->
      <div class="flex flex-col gap-1">
        <div
          v-for="record in records"
          :key="record.id"
          class="py-2 px-4 cursor-pointer hover:bg-gray-100"
          @click="editRecord(record)"
        >
          <div class="flex items-center gap-2">
            <div
              class="
                text-base
                rounded-lg
                py-1
                px-2
                w-14
                text-center
                whitespace-nowrap
                truncate
                bg-gray-200
              "
              :style="
                record.tags.length ? 'background: ' + record.tags[0].color : ''
              "
            >
              <span v-if="record.tags.length">{{ record.tags[0].text }}</span>
              <span v-else>--</span>
            </div>
            <div>{{ record.name }}</div>
            <div class="ml-auto">
              <div class="text-primary-heavy font-bold text-right">
                ${{ record.amt }}
              </div>
              <div
                v-if="record.loanAmt"
                class="text-accent-heavy text-sm text-right"
              >
                ${{ record.loanAmt }}
              </div>
            </div>
          </div>
        </div>
        <div v-show="!records.length" class="text-gray-400 m-auto my-4">
          本日無紀錄
        </div>
      </div>

      <button
        class="
          absolute
          bottom-4
          left-4
          w-12
          h-12
          text-gray-500
          bg-white
          rounded-full
          border border-gray-200
          shadow
          flex
          p-3
          hover:text-primary-heavy
        "
        @click="$router.push({ name: 'LoanRecord' })"
      >
        <DocumentTextIcon class="w-full h-full m-auto"></DocumentTextIcon>
        <div
          v-show="nLoanRecord"
          class="
            absolute
            top-1.5
            right-1.5
            text-white
            bg-special_red
            rounded-full
            text-center text-xs
            w-4.5
            h-4.5
            flex
            items-center
            justify-center
          "
        >
          {{ nLoanRecord }}
        </div>
      </button>
    </div>
    <template v-slot:main_btn>
      <!-- 新增按鈕 -->
      <button
        class="
          w-full
          h-full
          text-white
          bg-primary
          rounded-full
          shadow
          flex
          p-3
          hover:bg-primary-heavy
        "
        @click="launchEditor"
      >
        <PlusIcon class="m-auto"></PlusIcon>
      </button>
    </template>

    <!-- 編輯頁 -->
    <RecordEditor
      v-if="editorVisible"
      :record="selectedRecord"
      @close="editFinished"
    ></RecordEditor>
  </Layout>
</template>

<script>
import { computed, inject, onMounted, ref, watch } from '@vue/runtime-core'
import DateWeeklyPicker from '../components/DateWeeklyPicker.vue'
import RecordEditor from '../components/RecordEditor.vue'
import Layout from '../components/layout/Layout.vue'
import Header from '../components/layout/Header.vue'

import {
  ChevronLeftIcon,
  ChevronRightIcon,
  PlusIcon,
  AdjustmentsIcon,
  ChartPieIcon,
  MenuIcon,
  DocumentTextIcon,
} from '@heroicons/vue/outline'

import { QuestionMarkCircleIcon } from '@heroicons/vue/solid'

import dayjs from 'dayjs'

const TODAY = dayjs().startOf('day')

export default {
  components: {
    ChevronLeftIcon,
    ChevronRightIcon,
    PlusIcon,
    AdjustmentsIcon,
    ChartPieIcon,
    MenuIcon,
    QuestionMarkCircleIcon,
    DocumentTextIcon,
    DateWeeklyPicker,
    RecordEditor,
    Layout,
    Header,
  },

  setup() {
    const RecordStore = inject('RecordStore')

    const selectedDate = ref(TODAY)
    const datePickerRef = ref(null)

    const updateRecords = () => {
      RecordStore.get_records_of_date(selectedDate.value).then((_records) => {
        _records.sort((a, b) => a.recordTime.valueOf() - b.recordTime.valueOf())
        records.value = _records
      })
    }

    const records = ref([])
    watch(
      selectedDate,
      () => {
        updateRecords()
      },
      {
        immediate: true,
      }
    )

    const selectedRecord = ref(null)
    const editorVisible = ref(false)
    const launchEditor = () => {
      selectedRecord.value = {
        id: null,
        tags: [],
        amt: '',
        name: '',
        note: '',
        detail: '',
        payer: 'self',
        totalAmt: '',
        loanAmt: '',
        recordTime: new Date(),
        hasSent: false,
        loaner: null,
      }
      editorVisible.value = true
    }
    const editRecord = (record) => {
      selectedRecord.value = record
      editorVisible.value = true
    }
    const editFinished = (saved) => {
      if (saved) {
        updateRecords()
      }
      selectedRecord.value = null
      editorVisible.value = false
    }

    const listRef = ref(null)
    onMounted(() => {
      listRef.value.addEventListener('touchstart', (e) => {
        let start_x = e.touches[0].clientX
        let start_y = e.touches[0].clientY
        listRef.value.addEventListener(
          'touchend',
          (e) => {
            let end_x = e.changedTouches[0].clientX
            let end_y = e.changedTouches[0].clientY
            if (
              start_x != null &&
              Math.abs(end_y - start_y) / Math.abs(end_x - start_x) < 0.7 &&
              Math.abs(end_x - start_x) > window.innerWidth / 5
            ) {
              let coef = end_x - start_x > 0 ? -1 : 1
              selectedDate.value = selectedDate.value.add(1 * coef, 'day')
            }
          },
          { once: true }
        )
      })
    })

    const UserStore = inject('UserStore')
    const nLoanRecord = computed(() => UserStore.state.loanRecords?.length)

    return {
      records,
      selectedDate,
      datePickerRef,
      slideToToday: () => {
        datePickerRef.value.slideToInitial()
      },

      selectedRecord,
      editorVisible,
      launchEditor,
      editRecord,
      editFinished,

      listRef,

      nLoanRecord,
    }
  },
}
</script>

<style></style>
