<template>
  <Layout>
    <Header> 發票 </Header>
    <div
      v-if="invoiceList"
      class="
        flex-1 flex flex-col
        divide-y
        max_width
        pb-6
        overflow-scroll
        scrollbar-hidden
      "
    >
      <template v-for="(invoice, idx) in invoiceList" :key="idx">
        <div
          class="
            w-full
            text-sm
            py-3
            px-4
            flex
            items-center
            justify-between
            gap-4
            cursor-pointer
            hover:bg-gray-100
          "
          @click="launchEditor(invoice)"
        >
          <div>{{ invoice.invDate.month }}/{{ invoice.invDate.date }}</div>
          <div class="max-w-3/5">
            <div class="whitespace-nowrap overflow-hidden overflow-ellipsis">
              {{ invoice.sellerName }}
            </div>
          </div>
          <div>${{ invoice.amount }}</div>
        </div>
      </template>
      <div v-show="!invoiceList.length" class="text-gray-400 text-center my-4">
        {{ msg }}
      </div>
    </div>

    <!-- 編輯頁 -->
    <RecordEditor
      v-if="editorVisible"
      :record="selectedRecord"
      @close="editFinished"
    ></RecordEditor>
  </Layout>
</template>

<script>
import { computed, inject, ref } from 'vue'

import { ChevronRightIcon } from '@heroicons/vue/outline'

import Layout from '../components/layout/Layout.vue'
import Header from '../components/layout/Header.vue'
import FriendsSettings from '../components/FriendsSettings.vue'
import TagsSettings from '../components/TagsSettings.vue'
import ProfileSettings from '../components/ProfileSettings.vue'
import RecordEditor from '../components/RecordEditor.vue'
import { convertInvoiceTime } from '../utils/invoice'
import { cb_alert } from '../libs/cb-theme'

export default {
  components: {
    ChevronRightIcon,
    Layout,
    Header,
    FriendsSettings,
    TagsSettings,
    ProfileSettings,
    RecordEditor,
  },

  setup() {
    const InvoiceStore = inject('InvoiceStore')
    const invoiceList = computed(() => InvoiceStore.state.invoiceList)

    // 點進頁面時刷新
    InvoiceStore.refreshInvoiceList()

    const msg = ref('')
    if (!invoiceList.value.length) {
      if (!InvoiceStore.state.invoiceCardInfo.cardNo) {
        msg.value = '尚未設定載具資訊'
      } else {
        msg.value = '尚無新發票'
      }
    }

    const selectedRecord = ref(null)
    const selectedInvoice = ref(null)
    const editorVisible = ref(false)
    const launchEditor = (invoice) => {
      InvoiceStore.fetchInvoiceDetail(invoice).then((invoiceDetails) => {
        let detail = ''
        if (invoiceDetails) {
          for (let invoiceDetail of invoiceDetails) {
            detail += `${invoiceDetail.rowNum}. ${invoiceDetail.description} $${invoiceDetail.unitPrice} x${invoiceDetail.quantity} 共 $${invoiceDetail.amount}\n`
          }
          detail += `總金額：${invoice.amount}\n`
          detail += `店家：${invoice.sellerName}\n`
          detail += `發票號碼：${invoice.invNum}\n`
        }

        try {
          selectedRecord.value = {
            id: null,
            tags: [],
            amt: parseInt(invoice.amount),
            name: '',
            note: '',
            detail: detail,
            payer: 'self',
            totalAmt: '',
            loanAmt: '',
            recordTime: convertInvoiceTime(invoice),
            hasSent: false,
            loaner: null,
          }
          selectedInvoice.value = invoice
          editorVisible.value = true
        } catch (error) {
          console.log('Failed to edit invoice.', error)
          cb_alert('無法編輯此張發票')
        }
      })
    }
    const editFinished = (saved) => {
      if (saved) {
        InvoiceStore.removeInvoice(selectedInvoice.value)
      }
      selectedRecord.value = null
      editorVisible.value = false
    }

    return {
      invoiceList,
      msg,
      launchEditor,
      selectedRecord,
      editorVisible,
      editFinished,
    }
  },
}
</script>

<style></style>
