<template>
  <Layout>
    <Header> 應收付款紀錄 </Header>
    <div
      class="
        flex-1 flex flex-col
        divide-y
        max_width
        pb-6
        overflow-scroll
        scrollbar-hidden
      "
    >
      <template v-if="loanRecords?.length">
        <template v-for="(loanRecord, idx) in loanRecords" :key="idx">
          <div
            class="
              w-full
              text-sm
              py-3
              px-4
              flex
              items-center
              justify-between
              gap-4
              cursor-pointer
              hover:bg-gray-100
            "
            @click="launchEditor(loanRecord)"
          >
            <div>{{ dateFormat(loanRecord.recordTime) }}</div>
            <div class="max-w-3/5">
              <div class="whitespace-nowrap overflow-hidden overflow-ellipsis">
                {{ loanRecord.name }}
              </div>
            </div>
            <div>${{ loanRecord.loanAmt }}</div>
          </div>
        </template>
      </template>
      <div v-else class="text-gray-400 text-center my-4">
        {{ msg }}
      </div>
    </div>

    <!-- 編輯頁 -->
    <RecordEditor
      v-if="editorVisible"
      :record="selectedRecord"
      @close="editFinished"
    ></RecordEditor>
  </Layout>
</template>

<script>
import { computed, inject, ref } from 'vue'

import { ChevronRightIcon } from '@heroicons/vue/outline'

import Layout from '../components/layout/Layout.vue'
import Header from '../components/layout/Header.vue'
import FriendsSettings from '../components/FriendsSettings.vue'
import TagsSettings from '../components/TagsSettings.vue'
import ProfileSettings from '../components/ProfileSettings.vue'
import RecordEditor from '../components/RecordEditor.vue'

import dayjs from 'dayjs'

export default {
  components: {
    ChevronRightIcon,
    Layout,
    Header,
    FriendsSettings,
    TagsSettings,
    ProfileSettings,
    RecordEditor,
  },

  setup() {
    const UserStore = inject('UserStore')
    const loanRecords = computed(() => UserStore.state.loanRecords)

    const msg = ref('')
    if (!loanRecords.value?.length) {
      msg.value = '尚無紀錄'
    }

    const selectedRecord = ref(null)
    const selectedLoanRecord = ref(null)
    const editorVisible = ref(false)
    const launchEditor = (loanRecordInfo) => {
      let loaner = UserStore.state.friends.find((f) => {
        console.log('>>', f.id, loanRecordInfo.loaner)
        return f.uid === loanRecordInfo.loaner
      })
      selectedRecord.value = {
        id: null,
        tags: [],
        amt: '',
        name: loanRecordInfo.name,
        note: loanRecordInfo.note,
        detail: loanRecordInfo.detail,
        loaner: loaner,
        payer: loanRecordInfo.payer === 'self' ? loaner : 'self',
        totalAmt: loanRecordInfo.totalAmt,
        loanAmt: loanRecordInfo.loanAmt,
        recordTime: new Date(loanRecordInfo.recordTime),
        hasSent: true,
      }
      selectedLoanRecord.value = loanRecordInfo
      editorVisible.value = true
    }
    const editFinished = (saved) => {
      if (saved) {
        UserStore.removeLoanRecord(selectedLoanRecord.value)
      }
      selectedRecord.value = null
      editorVisible.value = false
    }

    return {
      loanRecords,
      msg,
      launchEditor,
      selectedRecord,
      editorVisible,
      editFinished,

      dateFormat: (_date) => {
        return dayjs(_date).format('MM/DD')
      },
    }
  },
}
</script>

<style></style>
