<template>
  <Layout>
    <Header> 設定 </Header>
    <div class="flex-1 flex flex-col gap-1 my-2 max_width">
      <div
        v-for="(item, idx) in settingItems"
        :key="idx"
        @click="showPage(item.key)"
        class="
          text-lg
          py-2
          px-4
          flex
          items-center
          justify-between
          cursor-pointer
          hover:bg-gray-100
        "
      >
        {{ item.text }}
        <ChevronRightIcon class="w-6 h-6"></ChevronRightIcon>
      </div>
    </div>

    <ProfileSettings
      v-if="visibleInfo.profile"
      @close="visibleInfo.profile = false"
    >
    </ProfileSettings>
    <FriendsSettings
      v-if="visibleInfo.friends"
      @close="visibleInfo.friends = false"
    ></FriendsSettings>
    <TagsSettings
      v-if="visibleInfo.tags"
      @close="visibleInfo.tags = false"
    ></TagsSettings>
  </Layout>
</template>

<script>
import Layout from '../components/layout/Layout.vue'
import Header from '../components/layout/Header.vue'

import { ChevronRightIcon } from '@heroicons/vue/outline'
import FriendsSettings from '../components/FriendsSettings.vue'
import { reactive, ref } from '@vue/reactivity'
import TagsSettings from '../components/TagsSettings.vue'
import ProfileSettings from '../components/ProfileSettings.vue'

export default {
  components: {
    ChevronRightIcon,
    Layout,
    Header,
    FriendsSettings,
    TagsSettings,
    ProfileSettings,
  },

  setup() {
    const settingItems = [
      {
        text: '個人',
        key: 'profile',
      },
      {
        text: '好友',
        key: 'friends',
      },
      {
        text: '標籤',
        key: 'tags',
      },
    ]

    const visibleInfo = reactive({})

    const showPage = (page_key) => {
      visibleInfo[page_key] = true
    }

    return {
      settingItems,
      visibleInfo,
      showPage,
    }
  },
}
</script>

<style>
</style>