<template>
  <swiper
    :modules="modules"
    :initialSlide="initialWeekNumber"
    virtual
    @swiper="setswiperIns"
    @transitionEnd="ontransitionEnd"
    class="w-full flex-shrink-0"
  >
    <swiper-slide
      v-for="(weekdays, index) in weeks"
      :key="index"
      :virtualIndex="index"
    >
      <!-- 當週日期 -->
      <div class="flex justify-around my-2 font-bold">
        <div
          v-for="(date, idx) in weekdays"
          :key="'date_' + idx"
          class="flex flex-col items-center gap-1 cursor-pointer"
          @click="selectDate(date)"
        >
          <div>週{{ toChWeek(date.day()) }}</div>
          <div
            class="border-2 rounded-full p-2 leading-5"
            :class="{
              'border-primary': date.valueOf() === modelValue.valueOf(),
              'border-transparent': date.valueOf() !== modelValue.valueOf(),
            }"
          >
            {{ date.format('DD') }}
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper>
</template>

<script>
import { ref, watch } from '@vue/runtime-core'

import { Swiper, SwiperSlide } from 'swiper/vue'
import { Virtual } from 'swiper'
import 'swiper/css'

import dayjs from 'dayjs'
import weekday from 'dayjs/plugin/weekday'
dayjs.extend(weekday)

export default {
  components: {
    Swiper,
    SwiperSlide,
  },

  props: {
    modelValue: {},
  },

  setup(props, { emit }) {
    const initialDate = props.modelValue

    const setmodelValue = (date) => {
      emit('update:modelValue', date)
    }

    const slideToInitial = () => {
      setmodelValue(initialDate)
      swiperIns.slideTo(-prepWeekNumber, 300)
    }

    const toChWeek = (day) => {
      switch (day) {
        case 0:
          return '日'
        case 1:
          return '一'
        case 2:
          return '二'
        case 3:
          return '三'
        case 4:
          return '四'
        case 5:
          return '五'
        case 6:
          return '六'
      }
    }

    const selectDate = (date) => {
      setmodelValue(date)
    }

    const getWeekDays = (weekNumber) => {
      let result = []
      for (let idx = 7 * weekNumber; idx < 7 * weekNumber + 7; idx++) {
        result.push(initialDate.weekday(idx))
      }
      return result
    }

    const weekBuffer = 3
    let appWeekNumber = weekBuffer
    let prepWeekNumber = -weekBuffer
    const weeks = ref(
      Array(2 * weekBuffer + 1)
        .fill(1)
        .map((v, idx) => getWeekDays(idx - weekBuffer))
    )

    let swiperIns = null
    const setswiperIns = (swiper) => {
      swiperIns = swiper
    }

    const appendWeeks = () => {
      let new_weeks = Array(weekBuffer)
        .fill(1)
        .map((v, idx) => getWeekDays(appWeekNumber + (idx + 1)))
      weeks.value = [...weeks.value, ...new_weeks]
      appWeekNumber += weekBuffer
    }

    const prependWeeks = () => {
      let new_weeks = Array(weekBuffer)
        .fill(1)
        .map((v, idx) => getWeekDays(prepWeekNumber - (idx + 1)))
        .reverse()
      weeks.value = [...new_weeks, ...weeks.value]
      prepWeekNumber -= weekBuffer
      swiperIns.slideTo(swiperIns.activeIndex + weekBuffer, 0)
    }

    const ontransitionEnd = () => {
      if (swiperIns) {
        setmodelValue(
          weeks.value[swiperIns.activeIndex][props.modelValue.day()]
        )

        if (swiperIns.activeIndex === 0) {
          prependWeeks()
        } else if (swiperIns.activeIndex === weeks.value.length - 1) {
          appendWeeks()
        }
      }
    }

    watch(
      () => props.modelValue,
      (_date) => {
        if (_date.valueOf() > weeks.value[swiperIns.activeIndex][6].valueOf()) {
          swiperIns.slideNext()
        } else if (
          _date.valueOf() < weeks.value[swiperIns.activeIndex][0].valueOf()
        ) {
          swiperIns.slidePrev()
        }
      }
    )

    return {
      slideToInitial,

      toChWeek,
      selectDate,

      weeks,
      modules: [Virtual],
      swiperIns: null,
      setswiperIns,
      initialWeekNumber: weekBuffer,
      ontransitionEnd,
    }
  },
}
</script>

<style>
</style>