<template>
  <!-- date wheel -->
  <cb-modal v-model:visible="visible" title="日期" @confirm="submit">
    <div class="relative h-60 font-bold overflow-hidden flex">
      <div class="vertical_center w-full h-10 bg-gray-100"></div>
      <swiper
        :modules="modules"
        :slidesPerView="5"
        direction="vertical"
        :initialSlide="initialYearIdx"
        virtual
        mousewheel
        centeredSlides
        slideToClickedSlide
        class="flex-1 h-full select-none"
        @transitionEnd="setSelectedYear"
      >
        <swiper-slide
          v-for="(year, index) in yearList"
          :key="index"
          :virtualIndex="index"
          class="flex justify-center items-center px-4"
          :class="{ 'text-primary': index === selectedYear - YEAR_START }"
        >
          {{ year }}
        </swiper-slide>
      </swiper>
      <swiper
        :modules="modules"
        :slidesPerView="5"
        direction="vertical"
        :initialSlide="initialMonthIdx"
        virtual
        mousewheel
        centeredSlides
        slideToClickedSlide
        class="flex-1 h-full select-none"
        @transitionEnd="setSelectedMonth"
      >
        <swiper-slide
          v-for="(month, index) in monthList"
          :key="index"
          :virtualIndex="index"
          class="flex justify-center items-center px-4"
          :class="{ 'text-primary': index === selectedMonth - 1 }"
        >
          {{ String(month).padStart(2, '0') }}
        </swiper-slide>
      </swiper>
      <swiper
        :modules="modules"
        :slidesPerView="5"
        direction="vertical"
        :initialSlide="initialDateIdx"
        virtual
        mousewheel
        centeredSlides
        slideToClickedSlide
        class="flex-1 h-full select-none"
        @transitionEnd="setSelectedDate"
      >
        <swiper-slide
          v-for="(date, index) in dateList"
          :key="index"
          :virtualIndex="index"
          class="flex justify-center items-center px-4"
          :class="{ 'text-primary': index === selectedDate - 1 }"
        >
          {{ String(date).padStart(2, '0') }}
        </swiper-slide>
      </swiper>
      <!-- 透明遮罩 -->
      <div
        class="absolute inset-0 z-2 w-full h-full bg-gradient-to-t from-base/60 via-transparent to-base/60 pointer-events-none"
      ></div>
    </div>
  </cb-modal>
</template>

<script>
import { computed, ref } from '@vue/reactivity'
import { YEAR_START, YEAR_END } from '../settings'

import { Swiper, SwiperSlide } from 'swiper/vue'
import { Virtual, Mousewheel } from 'swiper'
import 'swiper/css'

import dayjs from 'dayjs'
import { watch } from '@vue/runtime-core'

export default {
  components: {
    Swiper,
    SwiperSlide,
  },

  props: {
    visible: {
      default: true,
    },

    recordTime: {
      default: new Date(),
    },
  },
  setup(props, { emit }) {
    const initialYearIdx = props.recordTime.getFullYear() - YEAR_START
    const initialMonthIdx = props.recordTime.getMonth()
    const initialDateIdx = props.recordTime.getDate() - 1

    const selectedYear = ref(null)
    const selectedMonth = ref(null)
    const selectedDate = ref(null)
    watch(
      () => props.recordTime,
      (_recordTime) => {
        selectedYear.value = initialYearIdx + YEAR_START
        selectedMonth.value = initialMonthIdx + 1
        selectedDate.value = initialDateIdx + 1
      },
      {
        immediate: true,
      }
    )

    const yearList = Array(YEAR_END - YEAR_START + 1)
      .fill(1)
      .map((v, idx) => idx + YEAR_START)
    const monthList = Array(12)
      .fill(1)
      .map((v, idx) => idx + 1)
    const dateList = computed(() => {
      return Array(
        dayjs(
          new Date(selectedYear.value, selectedMonth.value - 1)
        ).daysInMonth()
      )
        .fill(1)
        .map((v, idx) => idx + 1)
    })

    const setSelectedYear = (swiper) => {
      selectedYear.value = swiper.activeIndex + YEAR_START
    }
    const setSelectedMonth = (swiper) => {
      selectedMonth.value = swiper.activeIndex + 1
    }
    const setSelectedDate = (swiper) => {
      selectedDate.value = swiper.activeIndex + 1
    }

    const submit = (ok) => {
      if (ok) {
        emit('submit', {
          year: selectedYear.value,
          month: selectedMonth.value,
          date: selectedDate.value,
        })
      }
    }

    return {
      visible: computed({
        get: () => props.visible,
        set: (val) => emit('update:visible', val),
      }),

      yearList,
      monthList,
      dateList,
      initialYearIdx,
      initialMonthIdx,
      initialDateIdx,
      selectedYear,
      selectedMonth,
      selectedDate,
      setSelectedYear,
      setSelectedMonth,
      setSelectedDate,
      YEAR_START,
      submit,

      modules: [Virtual, Mousewheel],
    }
  },
}
</script>

<style lang="postcss" scoped></style>
