<template>
  <div
    class="fixed inset-0 z-overlay w-full h-full bg-base overflow-scroll scrollbar-hidden"
  >
    <Header>
      <template v-slot:left>
        <ChevronLeftIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="close"
        ></ChevronLeftIcon>
      </template>
      <div>好友</div>
      <template v-slot:right>
        <PlusIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="launchEditor()"
        ></PlusIcon>
      </template>
    </Header>

    <div class="max_width">
      <!-- friend list -->
      <div
        v-for="(friend, idx) in friends"
        :key="idx"
        class="flex items-center justify-between py-1 px-4 hover:bg-gray-100 cursor-pointer"
        @click="launchEditor(friend)"
      >
        <div>{{ friend.name }}</div>
        <div class="p-2 cursor-pointer" @click.stop="removeFriend(friend)">
          <TrashIcon class="w-5 h-5 text-gray-400"></TrashIcon>
        </div>
      </div>
      <div v-show="!friends.length" class="text-gray-400 text-center">
        暫無好友
      </div>
    </div>
  </div>

  <cb-modal
    v-model:visible="modalVisible"
    @confirm="saveFriend"
    :loading="modalLoading"
    cancel_btn_required
  >
    <div v-if="editingFriend" class="px-4">
      <div class="mb-2">
        <div class="font-semibold">好友暱稱</div>
        <input
          type="text"
          class="input--base w-full my-1"
          v-model="editingFriend.name"
        />
      </div>
      <div>
        <div class="font-semibold flex items-center gap-2">
          好友的使用者 ID
          <div class="relative group">
            <InformationCircleIcon class="w-5 h-5 flex"></InformationCircleIcon>
            <div class="dialog_box text-sm max-w-200px hidden group-hover:block">
              請對方到 設定 -> 個人 頁面中查看使用者 ID
            </div>
          </div>
        </div>
        <input
          type="text"
          class="input--base w-full my-1"
          v-model="editingFriend.uid"
          @change="friendUidHasChanged = true"
        />
      </div>
    </div>
  </cb-modal>
</template>

<script>
import { computed, inject, reactive, ref, watch } from '@vue/runtime-core'
import Header from './layout/Header.vue'

import {
  ChevronLeftIcon,
  PlusIcon,
  TrashIcon,
  InformationCircleIcon,
} from '@heroicons/vue/outline'
import { cb_alert, cb_confirm } from '../libs/cb-theme'

export default {
  components: {
    ChevronLeftIcon,
    PlusIcon,
    TrashIcon,
    InformationCircleIcon,
    Header,
  },

  emits: ['close'],

  setup(props, { emit }) {
    const UserStore = inject('UserStore')

    const friends = computed(() => UserStore.state.friends)

    // leave confirm
    const close = () => {
      emit('close')
    }

    const editingFriend = reactive({})
    const modalVisible = ref(false)
    const modalLoading = ref(false)
    const friendUidHasChanged = ref(false)
    const launchEditor = (friend) => {
      if (friend) {
        editingFriend.name = friend.name
        editingFriend.uid = friend.uid
        editingFriend.id = friend.id
      } else {
        editingFriend.name = ''
        editingFriend.uid = ''
        editingFriend.id = ''
      }
      modalVisible.value = true
    }
    const saveFriend = (ok) => {
      if (ok) {
        editingFriend.uid = editingFriend.uid.trim()
        if (!editingFriend.name) {
          cb_alert('請至少輸入暱稱')
        } else {
          modalLoading.value = true
          if (editingFriend.uid) {
            if (editingFriend.uid === UserStore.state.uid) {
              cb_alert('請勿輸入自己的 ID')
              modalLoading.value = false
            } else {
              if (friendUidHasChanged.value) {
                UserStore.checkUid(editingFriend.uid)
                  .then(() => {
                    _saveFriend()
                  })
                  .catch(() => {
                    cb_alert('這個使用者 ID 不存在')
                    modalLoading.value = false
                  })
              } else {
                _saveFriend()
              }
            }
          } else {
            _saveFriend()
          }
        }
      }
    }
    const _saveFriend = () => {
      UserStore.saveFriend({
        ...editingFriend,
      }).then(() => {
        modalLoading.value = false
        modalVisible.value = false
        friendUidHasChanged.value = false
      })
    }
    const removeFriend = (friend) => {
      cb_confirm(`確定刪除「${friend.name}」這個好友嗎？`).then(() => {
        UserStore.removeFriend(friend.id)
      })
    }

    return {
      friends,
      launchEditor,
      modalVisible,
      modalLoading,
      editingFriend,
      saveFriend,
      removeFriend,
      friendUidHasChanged,

      close,
    }
  },
}
</script>

<style lang="postcss" scoped></style>
