<template>
  <div
    class="fixed inset-0 z-overlay w-full h-full bg-base overflow-scroll scrollbar-hidden"
  >
    <Header>
      <template v-slot:left>
        <ChevronLeftIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="close"
        ></ChevronLeftIcon>
      </template>
      <div>個人</div>
      <template v-slot:right>
        <PlusIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="launchEditor()"
        ></PlusIcon>
      </template>
    </Header>
    <div class="max_width py-2 px-4 grid grid-cols-[100px,1fr] gap-2">
      <div class="my-auto">自己的代稱</div>
      <input type="text" class="input--base" v-model="nickname" />

      <div class="my-auto">使用者 ID</div>
      <div
        class="bg-gray-100 rounded py-1 px-4 flex items-center gap-4 cursor-pointer hover:bg-gray-200 group"
        id="idCopy"
        :data-clipboard-text="uid"
      >
        <div class="flex-1 break-all">
          {{ uid }}
        </div>
        <DocumentDuplicateIcon
          v-if="!isCopied"
          class="w-5 h-5 group-hover:opacity-60"
        ></DocumentDuplicateIcon>
        <CheckCircleIcon
          v-else
          class="w-5 h-5 group-hover:opacity-60"
        ></CheckCircleIcon>
      </div>

      <hr class="col-span-2 my-4" />

      <div class="my-auto">載具</div>
      <input
        type="text"
        class="input--base bg-gray-100 border-none"
        v-model="invoiceCardInfo.cardNo"
      />

      <div class="my-auto">載具類別</div>
      <input
        type="text"
        class="input--base bg-gray-100 border-none"
        v-model="CARD_TYPE_INFO[invoiceCardInfo.cardType]"
      />

      <div class="my-auto">載具驗證碼</div>
      <input
        type="password"
        class="input--base bg-gray-100 border-none"
        disabled
        v-model="invoiceCardInfo.cardEncrypt"
      />

      <button
        class="btn_accent--line col-span-2 my-2"
        @click="invoiceCardEditorVisible = true"
      >
        設定載具
      </button>
    </div>
    <cb-modal
      v-model:visible="invoiceCardEditorVisible"
      cancel_btn_required
      @confirm="verifyInvoiceCard"
      :loading="isInvoiceCardLoading"
      enter_enabled
    >
      <div class="max_width py-2 px-4 grid grid-cols-[100px,1fr] gap-2">
        <div class="my-auto">載具</div>
        <input
          type="text"
          class="input--base"
          v-model="invoiceCardInfoEditing.cardNo"
        />

        <div class="my-auto">載具類別</div>
        <cb-select type="text" v-model="invoiceCardInfoEditing.cardType">
          <option v-for="(name, key) in CARD_TYPE_INFO" :key="key" :value="key">
            {{ name }}
          </option>
        </cb-select>

        <div class="my-auto">載具驗證碼</div>
        <input
          type="password"
          class="input--base"
          v-model="invoiceCardInfoEditing.cardEncrypt"
        />
      </div>
    </cb-modal>
  </div>
</template>

<script>
import { computed, inject, reactive, ref } from '@vue/runtime-core'
import Header from './layout/Header.vue'

import {
  ChevronLeftIcon,
  PlusIcon,
  DocumentDuplicateIcon,
  CheckCircleIcon,
} from '@heroicons/vue/outline'
import Clipboard from 'clipboard'

import { cb_alert } from '../libs/cb-theme'

export default {
  components: {
    ChevronLeftIcon,
    PlusIcon,
    DocumentDuplicateIcon,
    CheckCircleIcon,
    Header,
  },

  emits: ['close'],

  setup(props, { emit }) {
    const UserStore = inject('UserStore')
    const InvoiceStore = inject('InvoiceStore')

    const uid = computed(() => UserStore.state.uid)
    const nickname = ref(UserStore.state.nickname)
    const invoiceCardInfo = computed(() => InvoiceStore.state.invoiceCardInfo)
    const invoiceCardInfoEditing = reactive({})

    const CARD_TYPE_INFO = {
      '3J0002': '手機條碼',
      '1K0001': '悠遊卡',
      '1H0001': '一卡通',
      CQ0001: '自然人憑證條碼',
    }

    // leave confirm
    const close = () => {
      UserStore.saveNickname(nickname.value)
        .then(() => {
          emit('close')
        })
        .catch(() => {
          cb_alert('代稱儲存失敗')
        })
    }

    const isCopied = ref(false)
    const clipboard = new Clipboard('#idCopy')
    clipboard.on('success', (e) => {
      e.clearSelection()
      isCopied.value = true
      setTimeout(() => {
        isCopied.value = false
      }, 1000)
    })

    const invoiceCardEditorVisible = ref(false)
    const isInvoiceCardLoading = ref(false)
    const verifyInvoiceCard = (ok) => {
      if (ok) {
        isInvoiceCardLoading.value = true
        InvoiceStore.verifyInvoiceCard(invoiceCardInfoEditing)
          .then((passed) => {
            if (passed) {
              InvoiceStore.saveInvoiceCardInfo(invoiceCardInfoEditing).then(
                (_cardInfo) => {
                  cb_alert('載具設定成功')
                  invoiceCardEditorVisible.value = false
                }
              )
            } else {
              cb_alert('載具驗證失敗')
            }
          })
          .finally(() => {
            isInvoiceCardLoading.value = false
          })
      }
    }

    return {
      uid,
      nickname,
      close,
      isCopied,

      CARD_TYPE_INFO,
      invoiceCardEditorVisible,
      isInvoiceCardLoading,
      invoiceCardInfo,
      invoiceCardInfoEditing,
      verifyInvoiceCard,
    }
  },
}
</script>

<style lang="postcss" scoped></style>
