<template>
  <cb-modal
    v-model:visible="visible"
    title="應收付款資訊"
    closable
    @confirm="submitLoanInfo"
  >
    <div class="loan_grid gap-2">
      <div id="userNickname" class="px-4 flex items-center">{{ nickname }}</div>
      <input
        id="amt"
        type="number"
        class="input--base py-2"
        placeholder="支出金額"
        v-model="loanInfo.amt"
      />
      <cb-radio text="" v-model="loanInfo.payer" value="self" clear_required>
        <CurrencyDollarIcon
          class="w-6 text-gray-400 peer-checked:text-yellow-400 cursor-pointer"
        ></CurrencyDollarIcon>
      </cb-radio>

      <cb-select id="loanerSelect" v-model="loanInfo.loaner">
        <option
          v-for="(friend, idx) in friends"
          :key="idx"
          :value="friend"
          :label="friend.name"
        ></option>
        <option value="create">新增好友</option>
      </cb-select>
      <input
        type="number"
        class="input--base py-2"
        placeholder="應收付金額 (正為應收)"
        v-model="loanInfo.loanAmt"
      />
      <cb-radio
        text=""
        v-model="loanInfo.payer"
        :value="loanInfo.loaner"
        clear_required
      >
        <CurrencyDollarIcon
          class="w-6 text-gray-400 peer-checked:text-yellow-400 cursor-pointer"
        ></CurrencyDollarIcon>
      </cb-radio>
    </div>
    <div class="flex justify-center mt-4">
      <div class="text-center text-gray-400">目前欠款對象以 1 人為限</div>
    </div>

    <hr class="border-t-gray-300 m-4" />

    <div class="flex gap-2 mb-4">
      <input
        type="number"
        class="input--base py-2 flex-1"
        placeholder="總金額"
        v-model="loanInfo.totalAmt"
      />
      <div class="relative">
        <transition name="fade">
          <div v-if="fillupHint" class="dialog_box">{{ fillupHint }}</div>
        </transition>
        <button class="btn_accent--line" @click="fillup">自動補齊</button>
      </div>
      <div class="relative">
        <transition name="fade">
          <div v-if="divideHint" class="dialog_box z-100">{{ divideHint }}</div>
        </transition>
        <button class="btn_accent--line" @click="divide">平分</button>
      </div>
    </div>
  </cb-modal>
  <cb-modal
    v-model:visible="friendCreateVisible"
    title="新增好友"
    cancel_btn_required
    :disabled="!friendName"
    @confirm="addFriend"
  >
    <div class="flex justify-center">
      <input
        type="text"
        class="input--base"
        placeholder="輸入好友名稱"
        v-model="friendName"
      />
    </div>
  </cb-modal>
</template>

<script>
import { computed, reactive, ref, toRefs } from '@vue/reactivity'
import { CurrencyDollarIcon, PlusIcon } from '@heroicons/vue/outline'
import { inject, watch } from '@vue/runtime-core'

export default {
  components: {
    CurrencyDollarIcon,
    PlusIcon,
  },

  props: {
    record: {
      type: Object,
      default: {},
    },
  },

  emits: ['submit'],

  setup(props, { emit }) {
    const loanInfo = reactive({ ...props.record })

    const submitLoanInfo = () => {
      emit('submit', {
        amt: loanInfo.amt,
        loanAmt: loanInfo.loanAmt,
        payer: loanInfo.payer,
        totalAmt: loanInfo.totalAmt,
        loaner: loanInfo.loaner,
      })
    }

    const visible = ref(true)
    watch(visible, (_v) => {
      if (!_v) {
        emit('submit')
      }
    })

    const _isSelfPaied = () => {
      if (loanInfo.payer === null) {
        return null
      }
      return loanInfo.payer === 'self'
    }

    const divideHint = ref('')
    const divide = () => {
      if (_isSelfPaied() === null) {
        divideHint.value = '付款人未知'
      } else if (loanInfo.totalAmt !== '') {
        loanInfo.amt = loanInfo.totalAmt / 2
        loanInfo.loanAmt = _isSelfPaied() ? loanInfo.amt : -loanInfo.amt
      } else if (loanInfo.amt !== '') {
        if (_isSelfPaied()) {
          loanInfo.loanAmt = loanInfo.amt
          loanInfo.totalAmt = loanInfo.amt + loanInfo.loanAmt
        } else {
          divideHint.value = '無法平分'
        }
      } else {
        if (_isSelfPaied() && loanInfo.loanAmt !== '') {
          loanInfo.amt = loanInfo.loanAmt
          loanInfo.totalAmt = loanInfo.amt + loanInfo.loanAmt
        } else {
          divideHint.value = '無法平分'
        }
        divideHint.value = '無法平分'
      }

      setTimeout(() => {
        if (divideHint.value) {
          divideHint.value = null
        }
      }, 1000)
    }

    const fillupHint = ref(false)
    const fillup = () => {
      if (_isSelfPaied() === null) {
        fillupHint.value = '付款人未知'
      } else if (loanInfo.amt === '') {
        if (_isSelfPaied()) {
          if (loanInfo.loanAmt === '' || loanInfo.totalAmt === '') {
            fillupHint.value = '資訊不足'
          } else {
            loanInfo.amt = loanInfo.totalAmt - loanInfo.loanAmt
          }
        } else {
          if (loanInfo.loanAmt === '') {
            fillupHint.value = '資訊不足'
          } else {
            loanInfo.amt = -loanInfo.loanAmt
          }
        }
      } else if (loanInfo.loanAmt === '') {
        if (_isSelfPaied()) {
          if (loanInfo.amt === '' || loanInfo.totalAmt === '') {
            fillupHint.value = '資訊不足'
          } else {
            loanInfo.loanAmt = loanInfo.totalAmt - loanInfo.amt
          }
        } else {
          if (loanInfo.amt === '') {
            fillupHint.value = '資訊不足'
          } else {
            loanInfo.loanAmt = -loanInfo.amt
          }
        }
      } else if (loanInfo.totalAmt === '') {
        if (_isSelfPaied()) {
          if (loanInfo.amt === '' || loanInfo.loanAmt === '') {
            fillupHint.value = '資訊不足'
          } else {
            loanInfo.totalAmt = loanInfo.amt + loanInfo.loanAmt
          }
        } else {
          fillupHint.value = '資訊不足'
        }
      } else {
        fillupHint.value = '請清空欲補欄位'
      }

      setTimeout(() => {
        if (fillupHint.value) {
          fillupHint.value = null
        }
      }, 1000)
    }

    // user
    const UserStore = inject('UserStore')
    const nickname = computed(() => {
      return UserStore.state.nickname
    })
    const friends = computed(() => {
      return UserStore.state.friends
    })
    // loaner
    loanInfo.loaner = loanInfo.loaner || friends.value[0]
    const friendCreateVisible = ref(false)
    watch(
      () => loanInfo.loaner,
      (_loaner) => {
        if (_loaner === 'create') {
          friendCreateVisible.value = true
        } else {
          loanInfo.payer = _loaner
        }
      }
    )
    const friendName = ref('')
    const addFriend = (ok) => {
      if (ok) {
        UserStore.saveFriend({
          name: friendName.value,
        }).then(() => {
          loanInfo.loaner = friends.value[friends.value.length - 1]
          friendName.value = ''
        })
      } else {
        loanInfo.loaner = friends.value[0]
        friendName.value = ''
      }
    }

    return {
      loanInfo,

      visible,

      submitLoanInfo,
      divide,
      divideHint,
      fillup,
      fillupHint,

      nickname,
      friends,

      friendCreateVisible,
      friendName,
      addFriend,
    }
  },
}
</script>

<style lang="postcss" scoped>
.loan_grid {
  display: grid;
  grid-template-columns: 110px 1fr 32px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
