<template>
  <div
    class="
      fixed
      inset-0
      z-overlay
      w-full
      h-full
      flex flex-col
      bg-base
      overflow-scroll
      scrollbar-hidden
    "
  >
    <!-- header -->
    <Header>
      <template v-slot:left>
        <XIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="closeEditor"
        ></XIcon>
      </template>
      <div>新增紀錄</div>
      <template v-slot:right>
        <CheckIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="saveRecord"
        ></CheckIcon>
      </template>
    </Header>

    <div class="max_width px-4 flex-1">
      <!-- tag list -->
      <div class="w-full min-h-10 flex overflow-scroll">
        <div v-for="(tag, idx) in tagList" :key="idx">
          <cb-checkbox v-model="tags" :value="tag">
            <div
              class="
                text-base
                py-1
                px-3
                mx-2
                rounded
                cursor-pointer
                peer-checked:hidden
                hover:opacity-70
              "
              :style="'background: ' + tag.color"
            >
              <div class="whitespace-nowrap overflow-hidden overflow-ellipsis">
                {{ tag.text }}
              </div>
            </div>
          </cb-checkbox>
        </div>
      </div>

      <!-- info -->
      <div class="my-2 flex flex-col gap-2">
        <!-- selected tags -->
        <div
          class="
            min-h-50px
            rounded
            p-2
            border border-gray-300
            flex
            gap-2
            flex-wrap
          "
        >
          <div
            v-for="(tag, idx) in tags"
            :key="idx"
            class="
              py-1
              px-3
              text-white
              bg-accent-light
              rounded
              flex
              items-center
              gap-1
              cursor-pointer
              hover:opacity-70
              whitespace-nowrap
            "
            :style="'background: ' + tag.color"
            @click="removeTag(tag)"
          >
            {{ tag.text }}
            <XIcon class="w-4 text-white"></XIcon>
          </div>
          <div v-show="tags.length === 0" class="text-accent/70 py-1 px-2">
            已選標籤
          </div>
        </div>

        <!-- amount -->
        <div class="relative flex gap-2">
          <input
            type="number"
            class="input--base py-2 pl-8 flex-1"
            :class="{ warning: amt_warning }"
            placeholder="金額"
            v-model="amt"
          />
          <button class="btn_accent--line" @click="loanModalVisible = true">
            <span v-if="loanAmt">{{ loanAmt }}</span>
            <span v-else>應收付款</span>
          </button>
          <div
            class="vertical_center left-4"
            :class="{ ' text-red-400': amt_warning }"
          >
            $
          </div>
        </div>

        <!-- name -->
        <input
          type="text"
          class="input--base py-2"
          placeholder="名稱"
          v-model="name"
        />

        <!-- record time -->
        <div class="flex gap-2">
          <div
            class="
              flex-1
              rounded
              p-2
              border border-gray-300
              text-center
              cursor-pointer
              hover:text-primary
            "
            @click="datePickerVisible = true"
          >
            {{ dateFormat(recordTime) }}
          </div>
          <div
            class="
              flex-1
              rounded
              p-2
              border border-gray-300
              text-center
              cursor-pointer
              hover:text-primary
            "
            @click="timePickerVisible = true"
          >
            {{ timeFormat(recordTime) }}
          </div>
        </div>

        <!-- note -->
        <textarea
          class="input--base overflow-scroll scrollbar-hidden"
          rows="5"
          placeholder="備註"
          v-model="note"
        ></textarea>

        <!-- loan note -->
        <div class="flex">
          <div
            v-show="loanNote"
            class="
              py-1
              px-2
              bg-accent-light
              rounded
              flex
              items-center
              cursor-pointer
              hover:opacity-70
            "
            :class="{ 'bg-gray-100': loanNoteUsed }"
            @click="loanNoteUsed ? null : addLoanNote()"
          >
            {{ loanNote }}
            <ArrowNarrowUpIcon class="w-4 text-gray-500"></ArrowNarrowUpIcon>
          </div>
        </div>

        <!-- detail -->
        <textarea
          class="input--base overflow-scroll scrollbar-hidden"
          rows="5"
          placeholder="明細"
          v-model="detail"
        ></textarea>

        <!-- send note -->
        <div v-show="loaner" class="flex justify-center">
          <button v-if="!hasSent" class="btn_primary" @click="sendLoan">
            <span>傳送本次紀錄給欠款對象</span>
          </button>
          <button v-else class="btn_primary" disabled>
            <span>已傳送給欠款對象</span>
          </button>
        </div>

        <!-- delete -->
        <button
          v-if="record.id"
          class="
            horizontal_center
            bottom-4
            btn_secondary
            rounded-full
            mx-auto
            p-2
            flex
          "
          @click="deleteRecord"
        >
          <TrashIcon class="w-6 h-6"></TrashIcon>
        </button>
      </div>
    </div>
    <RecordEditorLoan
      v-if="loanModalVisible"
      :record="editingRecord"
      @submit="submitLoanInfo"
    ></RecordEditorLoan>
    <DateWheelPicker
      v-model:visible="datePickerVisible"
      :recordTime="recordTime"
      @submit="setDate"
    ></DateWheelPicker>
    <TimeWheelPicker v-model:visible="timePickerVisible" @submit="setTime">
    </TimeWheelPicker>
  </div>
</template>

<script>
import {
  computed,
  inject,
  reactive,
  ref,
  toRefs,
  watch,
} from '@vue/runtime-core'
import Header from './layout/Header.vue'
import RecordEditorLoan from './RecordEditorLoan.vue'
import DateWheelPicker from './DateWheelPicker.vue'
import TimeWheelPicker from './TimeWheelPicker.vue'
import { cb_confirm, cb_alert } from '../libs/cb-theme'

import {
  XIcon,
  CheckIcon,
  ArrowNarrowUpIcon,
  TrashIcon,
} from '@heroicons/vue/outline'

import { Swiper, SwiperSlide } from 'swiper/vue'
import { Pagination, Virtual } from 'swiper'
import 'swiper/css'
import 'swiper/css/pagination'
import 'swiper/css/virtual'

import dayjs from 'dayjs'

export default {
  components: {
    XIcon,
    CheckIcon,
    ArrowNarrowUpIcon,
    TrashIcon,
    RecordEditorLoan,
    DateWheelPicker,
    TimeWheelPicker,
    Header,
    Swiper,
    SwiperSlide,
  },

  props: {
    record: {
      type: Object,
    },
  },

  emits: ['close'],

  setup(props, { emit }) {
    const OthersStore = inject('OthersStore')
    const RecordStore = inject('RecordStore')
    const UserStore = inject('UserStore')
    const tagList = computed(() => OthersStore.state.tags)

    const editingRecord = reactive(props.record)

    const removeTag = (tagText) => {
      let targetIdx = editingRecord.tags.findIndex((tag) => tag === tagText)
      editingRecord.tags.splice(targetIdx, 1)
    }

    const loanModalVisible = ref(false)
    // loan
    const loanNote = ref('')
    const submitLoanInfo = (loanInfo) => {
      loanModalVisible.value = false
      if (!loanInfo) return

      if (editingRecord.amt !== loanInfo.amt) {
        editingRecord.hasSent = false
      } else if (editingRecord.loanAmt !== loanInfo.loanAmt) {
        editingRecord.hasSent = false
      }
      editingRecord.amt = loanInfo.amt
      editingRecord.loanAmt = loanInfo.loanAmt
      editingRecord.payer = loanInfo.payer
      editingRecord.totalAmt = loanInfo.totalAmt
      editingRecord.loaner = loanInfo.loaner

      let _noteList = []
      if (loanInfo.totalAmt !== '') {
        _noteList.push(`共 ${loanInfo.totalAmt} 元`)
      }
      if (loanInfo.payer) {
        if (loanInfo.payer === 'self') {
          _noteList.push(`${UserStore.state.nickname}先出`)
        } else {
          _noteList.push(`${loanInfo.payer.name}先出`)
        }
      }
      loanNote.value = _noteList.length > 0 ? _noteList.join('，') + '。' : ''

      changed = true
    }
    const addLoanNote = () => {
      editingRecord.note = loanNote.value + editingRecord.note
      loanNoteUsed.value = true
      setTimeout(() => {
        if (loanNoteUsed.value) {
          loanNoteUsed.value = false
        }
      }, 2000)
    }
    const loanNoteUsed = ref(false)

    // date, time
    const dateFormat = (_date) => {
      return dayjs(_date).format('YYYY/MM/DD')
    }
    const timeFormat = (_time) => {
      return dayjs(_time).format('HH:mm')
    }

    const setDate = (date) => {
      editingRecord.recordTime.setFullYear(date.year)
      editingRecord.recordTime.setMonth(date.month - 1)
      editingRecord.recordTime.setDate(date.date)
    }
    const setTime = (time) => {
      editingRecord.recordTime.setHours(time.hour)
      editingRecord.recordTime.setMinutes(time.minute)
    }

    // warning input
    const amt_warning = ref(false)
    watch(
      () => editingRecord.amt,
      (_amt) => {
        amt_warning.value = false
      }
    )

    // save
    const saveRecord = () => {
      if (editingRecord.amt === '' || editingRecord.amt == null) {
        cb_alert('金額為必填')
        amt_warning.value = true
        return
      }
      RecordStore.saveRecord(editingRecord).then(() => {
        emit('close', true)
      })
    }

    // delete
    const deleteRecord = () => {
      if (!props.record.id) return

      cb_confirm('確定要刪除嗎？').then(() => {
        RecordStore.deleteRecord(props.record.id).then(() => {
          emit('close', true)
        })
      })
    }

    // leave confirm
    let changed = false
    watch(editingRecord, () => {
      changed = true
    })
    const closeEditor = () => {
      if (changed) {
        cb_confirm('確定不儲存就離開嗎？')
          .then(() => {
            emit('close')
          })
          .catch(() => {})
      } else {
        emit('close')
      }
    }

    // send loan
    const sendLoan = () => {
      if (editingRecord.loaner?.uid) {
        cb_confirm('確定要傳送嗎？')
          .then(() => {
            RecordStore.sendLoan(editingRecord.loaner.uid, {
              loaner: UserStore.state.uid,
              name: editingRecord.name,
              loanAmt: -editingRecord.loanAmt,
              totalAmt: editingRecord.totalAmt,
              payer: editingRecord.payer,
              detail: editingRecord.detail,
              note: editingRecord.note,
              recordTime: dayjs(editingRecord.recordTime).format(
                'YYYY/MM/DD HH:mm'
              ),
            }).then(() => {
              console.log('then')
              editingRecord.hasSent = true
            })
          })
          .catch(() => {})
      } else {
        cb_alert(
          '欠款對象需設有使用者 ID 才能傳送紀錄。請至 設定 -> 好友 設定。'
        )
      }
    }

    return {
      editingRecord,
      ...toRefs(editingRecord),

      closeEditor,

      tagList,
      removeTag,

      loanNote,
      loanModalVisible,
      submitLoanInfo,
      addLoanNote,
      loanNoteUsed,

      datePickerVisible: ref(false),
      timePickerVisible: ref(false),

      setDate,
      setTime,
      dateFormat,
      timeFormat,

      amt_warning,
      saveRecord,
      deleteRecord,
      modules: [Pagination, Virtual],
      sendLoan,
    }
  },
}
</script>

<style>
.swiper-pagination {
  bottom: 0 !important;
}
</style>
