<template>
  <cb-modal
    v-if="tag.text != null"
    v-model:visible="visible"
    title="編輯標籤"
    cancel_btn_required
    @confirm="submit"
    :disabled="!text"
    enter_enabled
  >
    <div class="flex justify-center mb-4">
      <div
        class="min-h-8 text-base py-1 px-2 rounded"
        :style="'background: ' + color"
      >
        {{ text }}
      </div>
    </div>
    <div class="px-4 flex gap-2 mb-2">
      <input
        type="text"
        ref="nameInput"
        class="input--base w-full"
        v-model="text"
      />
      <input type="text" class="input--base max-w-28" v-model="color" />
    </div>
    <div class="w-full flex justify-center">
      <ColorPicker
        :color="tag.color + 'ff'"
        @color-change="updateColor"
        alpha-channel="hide"
        default-format="hex"
      >
        <template v-slot:copy-button>
          <div></div>
        </template>
      </ColorPicker>
    </div>
  </cb-modal>
</template>

<script>
import { reactive, ref, toRefs } from '@vue/reactivity'
import { ColorPicker } from 'vue-accessible-color-picker'
import { nextTick } from '@vue/runtime-core'

export default {
  components: {
    ColorPicker,
  },

  props: {
    visible: {
      default: true,
    },

    tag: {
      type: Object,
      default: null,
    },
  },

  emit: ['close'],

  setup(props, { emit }) {
    const tagInfo = reactive({
      ...props.tag,
    })

    const submit = (ok) => {
      if (ok) {
        emit('close', {
          ...tagInfo,
        })
      } else {
        emit('close')
      }
    }

    const updateColor = (eventData) => {
      tagInfo.color = eventData.cssColor
    }

    const nameInput = ref(null)
    nextTick(() => {
      nameInput.value.focus()
    })

    return {
      ...toRefs(tagInfo),
      submit,
      updateColor,
      nameInput,
    }
  },
}
</script>

<style>
.vacp-color-inputs,
.vacp-copy-button,
.vacp-range-input-label-text {
  display: none;
}

.vacp-range-input-group {
  width: 100%;
}

.vacp-color-picker {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100% !important;
  max-width: 100% !important;
}

.vacp-color-space {
  width: 100%;
}
</style>
