<template>
  <div
    class="fixed inset-0 z-overlay w-full h-full bg-base overflow-scroll scrollbar-hidden"
  >
    <Header>
      <template v-slot:left>
        <ChevronLeftIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="close"
        ></ChevronLeftIcon>
      </template>
      <div>標籤</div>
      <template v-slot:right>
        <PlusIcon
          class="w-9 h-9 m-1 p-1 cursor-pointer rounded-full hover:bg-gray-100"
          @click="launchAddTag"
        ></PlusIcon>
      </template>
    </Header>

    <div>
      <draggable
        v-model="tagList"
        handle=".handle"
        item-key="name"
        class="max_width"
      >
        <template #item="{ element }">
          <div
            class="flex items-center justify-between py-1 px-4 hover:bg-gray-100 cursor-pointer"
            @click="editTag(element)"
          >
            <div
              class="text-base py-1 px-3 rounded"
              :style="'background: ' + element.color"
            >
              {{ element.text }}
            </div>
            <div class="flex items-center">
              <div class="p-2 cursor-pointer pointer-events-none">
                <PencilIcon class="w-5 h-5 text-gray-400"></PencilIcon>
              </div>
              <div class="p-2 cursor-pointer" @click="removeTag(element.text)">
                <TrashIcon class="w-5 h-5 text-gray-400"></TrashIcon>
              </div>
              <!-- handle -->
              <div class="handle p-2 cursor-move">
                <MenuAlt4Icon class="w-6 h-6 text-gray-400"></MenuAlt4Icon>
              </div>
            </div>
          </div>
        </template>
      </draggable>
    </div>
  </div>
  <TagEditor
    v-if="tagEditorVisible"
    v-model:tag="editingTag"
    @close="closeTagEditor"
  >
  </TagEditor>
</template>

<script>
import { inject, ref, watch } from '@vue/runtime-core'
import Header from './layout/Header.vue'
import TagEditor from './TagEditor.vue'

import draggable from 'vuedraggable'
import {
  ChevronLeftIcon,
  CheckIcon,
  PlusIcon,
  MenuAlt4Icon,
  TrashIcon,
  PencilIcon,
} from '@heroicons/vue/outline'
import { cb_alert, cb_confirm } from '../libs/cb-theme'
import { DEFAULT_TAG_COLOR } from '../settings/index'

export default {
  components: {
    ChevronLeftIcon,
    CheckIcon,
    PlusIcon,
    MenuAlt4Icon,
    TrashIcon,
    PencilIcon,
    Header,
    draggable,
    TagEditor,
  },

  emits: ['close'],

  setup(props, { emit }) {
    const OthersStore = inject('OthersStore')
    const tagList = ref([...OthersStore.state.tags])

    // add, tagInfo
    const editingTag = ref(null)
    const tagEditorVisible = ref(false)

    const launchAddTag = () => {
      editingTag.value = {
        text: '',
        color: DEFAULT_TAG_COLOR,
      }
      tagEditorVisible.value = true
    }
    const editTag = (tag) => {
      editingTag.value = tag
      tagEditorVisible.value = true
    }
    const closeTagEditor = (tagInfo) => {
      if (tagInfo) {
        let targetIdx = tagList.value.findIndex(
          (t) =>
            t.text === editingTag.value.text &&
            t.color === editingTag.value.color
        )
        if (targetIdx >= 0) {
          tagList.value[targetIdx] = tagInfo
        } else {
          tagList.value.push(tagInfo)
        }
      }
      tagEditorVisible.value = false
      editingTag.value = null
    }

    // remove
    const removeTag = (tag) => {
      cb_confirm(`確定刪除「${tag}」這個標籤嗎？`).then(() => {
        let targetIdx = tagList.value.findIndex((t) => t.text === tag)
        tagList.value.splice(targetIdx, 1)
      })
    }

    // leave
    const close = () => {
      OthersStore.saveTags(tagList.value)
        .then(() => {
          emit('close')
        })
        .catch(() => {
          cb_alert('標籤儲存失敗')
          emit('close')
        })
    }

    return {
      tagList,

      close,

      launchAddTag,
      editTag,
      removeTag,
      editingTag,
      tagEditorVisible,
      closeTagEditor,
    }
  },
}
</script>

<style scoped>
.buttons {
  margin-top: 35px;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.not-draggable {
  cursor: no-drop;
}

.handle_svg {
  width: 18px;
  height: 8px;
  stroke: rgb(163, 163, 163);
  stroke-width: 2;
  stroke-linecap: round;
}
</style>
