<template>
  <!-- time wheel -->
  <cb-modal v-model:visible="visible" title="時間" @confirm="submit">
    <div class="relative h-60 font-bold overflow-hidden flex">
      <div class="vertical_center w-full h-10 bg-gray-100"></div>
      <swiper
        :modules="modules"
        :slidesPerView="5"
        direction="vertical"
        :initialSlide="initialHourIdx"
        virtual
        mousewheel
        centeredSlides
        slideToClickedSlide
        class="flex-1 h-full select-none"
        @transitionEnd="setSelectedHour"
      >
        <swiper-slide
          v-for="(hour, index) in hourList"
          :key="index"
          :virtualIndex="index"
          class="flex justify-center items-center px-4"
          :class="{ 'text-primary': index === selectedHour }"
        >
          {{ String(hour).padStart(2, '0') }}
        </swiper-slide>
      </swiper>
      <swiper
        :modules="modules"
        :slidesPerView="5"
        direction="vertical"
        :initialSlide="initialMinuteIdx"
        virtual
        mousewheel
        centeredSlides
        slideToClickedSlide
        class="flex-1 h-full select-none"
        @transitionEnd="setSelectedMinute"
      >
        <swiper-slide
          v-for="(minute, index) in minuteList"
          :key="index"
          :virtualIndex="index"
          class="flex justify-center items-center px-4"
          :class="{ 'text-primary': index === selectedMinute }"
        >
          {{ String(minute).padStart(2, '0') }}
        </swiper-slide>
      </swiper>
      <!-- 透明遮罩 -->
      <div
        class="absolute inset-0 z-2 w-full h-full bg-gradient-to-t from-base/60 via-transparent to-base/60 pointer-events-none"
      ></div>
    </div>
  </cb-modal>
</template>

<script>
import { computed, ref } from '@vue/reactivity'

import { Swiper, SwiperSlide } from 'swiper/vue'
import { Virtual, Mousewheel } from 'swiper'
import 'swiper/css'
import { watch } from '@vue/runtime-core'

export default {
  components: {
    Swiper,
    SwiperSlide,
  },

  props: {
    visible: {
      default: true,
    },

    recordTime: {
      default: new Date(),
    },
  },
  setup(props, { emit }) {
    const initialHourIdx = props.recordTime.getHours()
    const initialMinuteIdx = props.recordTime.getMinutes()

    const selectedHour = ref(null)
    const selectedMinute = ref(null)
    watch(
      () => props.recordTime,
      (_recordTime) => {
        selectedHour.value = initialHourIdx
        selectedMinute.value = initialMinuteIdx
      },
      {
        immediate: true,
      }
    )

    const hourList = Array(24)
      .fill(1)
      .map((v, idx) => idx)
    const minuteList = Array(60)
      .fill(1)
      .map((v, idx) => idx)

    const setSelectedHour = (swiper) => {
      selectedHour.value = swiper.activeIndex
    }
    const setSelectedMinute = (swiper) => {
      selectedMinute.value = swiper.activeIndex
    }

    const submit = (ok) => {
      if (ok) {
        emit('submit', {
          hour: selectedHour.value,
          minute: selectedMinute.value,
        })
      }
    }

    return {
      visible: computed({
        get: () => props.visible,
        set: (val) => emit('update:visible', val),
      }),

      hourList,
      minuteList,
      initialHourIdx,
      initialMinuteIdx,
      selectedHour,
      selectedMinute,
      setSelectedHour,
      setSelectedMinute,
      submit,

      modules: [Virtual, Mousewheel],
    }
  },
}
</script>

<style lang="postcss" scoped></style>
