<template>
  <router-view />
</template>

<script>
import { useOthersStore } from './compositions/OthersStore'
import { useRecordStore } from './compositions/RecordStore'
import { useUserStore } from './compositions/UserStore'
import { useInvoiceStore } from './compositions/InvoiceStore'

export default {
  setup() {
    useRecordStore()
    useOthersStore()
    const UserStore = useUserStore()
    useInvoiceStore(UserStore)
  },
}
</script>

<style>
</style>
