body {
  @apply text-gray-600 bg-base;

  /* 主要中文字體：思源黑體 */
  font-family: 'Noto Sans TC', 'Roboto', 'STHeiti', 'Lato', 'PingFang',
    'Microsoft JhengHei', 'Apple LiGothic Medium', 'Verdana', 'Tahoma',
    'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
}

button {
  @apply rounded py-2 px-4 transition-all;
}

/* 清除 font icon 不明多出的高度 */
i {
  @apply flex p-1;
}

html,
body,
#app {
  @apply w-full h-full overflow-hidden;
}

.input--base {
  @apply border-gray-300;
}

div {
  @apply select-none;
}

.max_width {
  @apply relative m-auto w-full max-w-100;
}

.dialog_box {
  @apply absolute bottom-full horizontal_center w-max py-1 px-2 text-sm bg-gray-200 shadow-lg rounded pointer-events-none;

  &::after {
    content: '';
    @apply absolute top-full horizontal_center;
    @apply border-6 border-transparent border-t-gray-200 shadow-lg;
  }
}
